
<link rel="stylesheet" href="~/Views/Home/css/field.css" />

@{
    var min = $"{DateTime.Now.ToString("yyyy-MM-dd")}";
    var temp = DateTime.Now.AddDays(30);
    var minComplete = DateTime.Now.AddDays(2);
    var max = $"{temp.ToString("yyyy-MM-dd")}";
}

<h2 style="font-family: Century Gothic;">Create Project</h2>

@using (Html.BeginForm("CreateProject", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container data-box">
        <div class="my-field">
            <label for="name">Write Project Name</label>
            <input type="text" name="name" placeholder="----" id="name" />
        </div>
        <div class="my-field">
            <label for="startProject">Chose Date</label>
            <input type="date" name="startProject" placeholder="----" id="startProject" min="@min" max="@max" />
        </div>
        <div class="my-field">
            <label for="completionProject">Chose End Date</label>
            <input type="date" name="completionProject" placeholder="----" id="completionProject" min="@minComplete.ToString("yyyy-MM-dd")" />
        </div>
        <div class="my-field">
            <label for="status">Chose Status</label>
            <select id="status" name="status">
                <option>NotStarted</option>
                <option>Active</option>
                <option>Completed</option>
            </select>
        </div>
        <div class="my-field">
            <label for="priroty">Set Priroty</label>
            <input type="number" id="priroty" min="1" name="priroty" />
        </div>
    </div>
    <div class="container">

        <input type="submit" value="Create" class="btn btn-default" />

    </div>
}

